<template>
	<div class="about">
		<v-layout row wrap class="white ma-5">
			<v-flex md12 class="align-center justify-center d-flex about-title">
				<h1 v-if="locale === 'ru'" class="bgdrawer--text display-1 ma-5">Вопросы</h1>
				<h1 v-else class="bgdrawer--text display-1 ma-5">Question</h1>
			</v-flex>
		</v-layout>
		<v-layout row wrap class="white ma-5">
			<v-flex class="pl-6" md5 v-for="item in questiondata" :key="item.url">
				<nuxt-link v-if="locale === 'ru'" :to="'/ru/question/' + item.url">{{item.titleEng}}</nuxt-link>
				<nuxt-link v-else :to="'/question/' + item.url">{{item.titleEng}}</nuxt-link>
			</v-flex>
		</v-layout>
	</div>
</template>

<script>
	import axios from "axios";
	export default {
		head() {
			return {
				title: this.$i18n.locale === "ru" ? "Вопросы" : "Question",
				meta: [
					{
						hid: "description",
						name: "description",
						content:
							this.$i18n.locale === "ru"
								? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
								: "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
					}
				]
			};
		},
		data() {
			return {
				mainImage: "img/about.jpg"
			};
		},
		computed: {
			locale() {
				return this.$i18n.locale;
			}
		},
		async asyncData({ $axios, error }) {
			try {
				const questiondata = await $axios.$get(`/api/question`);
				return { questiondata };
			} catch (e) {
				error({ message: "User not found", statusCode: 404 });
			}
		}
	};
</script>

<style lang="sass" scoped>
</style>
