<template>
	<div class="galleryPost">
		<v-layout row wrap class="white ma-5 galleryPost-title">
			<v-flex md12 class="align-center justify-center d-flex">
				<h1 v-if="locale === 'ru'" class="bgdrawer--text display-1 ma-5">{{ titleRus }}</h1>
				<h1 v-else class="bgdrawer--text display-1 ma-5">{{ titleEng }}</h1>
			</v-flex>
		</v-layout>
		<v-layout row wrap class="white ma-5 galleryPost-layoutgalery">
			<v-flex md7 sm12 xs12 class="d-flex justify-center pa-5">
				<sliderZoom :images="imageSrcEdited" class="float-left mr-3 sliderZoom" />
			</v-flex>
			<v-flex class="bgdrawer--text pa-5" md5 sm12 xs12>
				<v-breadcrumbs v-if="locale === 'ru'">
					<nuxt-link :to="'../shop'">Интернет-магазин</nuxt-link>
					<div class="px-1">></div>
					<span>{{ titleRus }}</span>
				</v-breadcrumbs>
				<v-breadcrumbs v-else>
					<nuxt-link :to="'../shop'">Shop</nuxt-link>
					<div class="px-1">></div>
					<span>{{ titleEng }}</span>
				</v-breadcrumbs>
				<h2 v-if="locale === 'ru'" class="text-center">Информация</h2>
				<h2 v-else class="text-center">Information</h2>
				<v-simple-table light>
					<tbody>
						<tr>
							<td>
								<strong v-if="locale === 'ru'">Название картины</strong>
								<strong v-else>Picture title</strong>
							</td>
							<td v-if="locale === 'ru'">{{ titleRus }}</td>
							<td v-else>{{ titleEng }}</td>
						</tr>
						<tr>
							<td>
								<strong v-if="locale === 'ru'">Характеристики</strong>
								<strong v-else>characteristics</strong>
							</td>
							<td v-if="locale === 'ru'">{{ typeRus }} / {{ sizeRus }}</td>
							<td v-else>{{ typeEng }} / {{ sizeEng }}</td>
						</tr>
						<tr>
							<td>
								<strong v-if="locale === 'ru'">Купить оригинал</strong>
								<strong v-else>Buy the original</strong>
							</td>
							<td>
								<!--<span class="red--text title">${{ priceEng }}</span>-->
								<v-btn v-if="locale === 'ru'" color="error" dark @click="dialog3 = true">По запросу</v-btn>
								<v-btn v-else color="error" dark @click="dialog3 = true">Available on request</v-btn>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<strong v-if="locale === 'ru'">Меоды олаты</strong>
									<strong v-else>Payment methods</strong>
								</p>
							</td>
							<td>
								<ul>
									<li v-if="locale === 'ru'">Банковский перевод</li>
									<li v-else>Bank Transfer</li>
									<li>Paypal</li>
								</ul>
							</td>
						</tr>
						<!--<tr>
							<td>
								<p>
									<strong v-if="locale === 'ru'">Отпавление и доставка</strong>
									<strong v-else>Shiing & Deivery</strong>
								</p>
							</td>
							<td>
								<p
									v-if="locale === 'ru'"
								>Цена не включает доставку. Пожалуйста запросите точную стоимость доставки!</p>
								<p
									v-else
								>Price does not include shipping. Please ask for a qutation for an accurate shipping estimate</p>
							</td>
						</tr>-->
					</tbody>
				</v-simple-table>
				<div class="d-flex justify-space-between flex-wrap pt-3">
					<!--<v-btn v-if="locale === 'ru'" color="error" dark @click="dialog3 = true" class="mb-3">Купить</v-btn>
					<v-btn v-else color="error" dark @click="dialog3 = true" class="mb-3">Buy</v-btn>-->
					<v-btn v-if="locale === 'ru'" color="success" href="#content">перейти к описанию</v-btn>
					<v-btn v-else color="success" href="#content">go to the description</v-btn>
					<v-dialog light v-model="dialog3" max-width="500px">
						<v-card>
							<v-card-title>
								<span v-if="locale === 'ru'">Запрос на покупку картины</span>
								<span v-else>Request to buy a painting</span>
								<div class="flex-grow-1"></div>
							</v-card-title>
							<v-card flat class="pa-3">
								<v-form v-if="locale === 'ru'" ref="form" v-model="form">
									<v-text-field
										v-model.lazy="titlePic"
										color="cyan lighten-2"
										label="Название картины"
										disabled
									></v-text-field>
									<v-text-field
										v-model.lazy="nameModal"
										:rules="nameRules"
										counter="20"
										color="cyan lighten-2"
										label="Имя"
									></v-text-field>
									<v-text-field
										v-model.lazy="phone"
										:rules="[v => !!v || 'введите номер телефона']"
										color="cyan lighten-2"
										label="Телефон"
										type="tel"
										v-mask="mask"
										required
									></v-text-field>
									<v-checkbox
										v-model="checkbox"
										:rules="[
                      v =>
                        !!v || 'Вы что терминатор? Если нет то поставь галочку'
                    ]"
										label="Проверка на человечность :)"
										required
									></v-checkbox>
								</v-form>
								<v-form v-else ref="form" v-model="form">
									<v-text-field
										v-model.lazy="titlePic"
										color="cyan lighten-2"
										label="Title picture"
										disabled
									></v-text-field>
									<v-text-field
										v-model.lazy="nameModal"
										:rules="[
                      v => v.length >= 2 || 'Name too short',
                      v => v.length <= 20 || 'Name too long'
                    ]"
										counter="20"
										color="cyan lighten-2"
										label="first name"
									></v-text-field>
									<v-text-field
										v-model.lazy="phone"
										:rules="[v => !!v || 'enter phone number']"
										color="cyan lighten-2"
										label="phone"
										v-mask="mask"
										type="tel"
										required
									></v-text-field>
									<v-checkbox
										v-model="checkbox"
										:rules="[
                      v =>
                        !!v || 'Do you want to send spam? I do not like spam!'
                    ]"
										label="Check the box if the message is not spam"
										required
									></v-checkbox>
								</v-form>
								<v-divider></v-divider>
								<v-card-actions v-if="locale === 'ru'">
									<v-btn color="red" text @click="dialog3 = false">Закрыть</v-btn>
									<div class="flex-grow-1"></div>
									<v-btn
										:disabled="!form || loading"
										color="success"
										text
										depressed
										:loading="loading"
										@click="sendcontact"
									>Отправить</v-btn>
								</v-card-actions>
								<v-card-actions v-else>
									<v-btn color="red" text @click="dialog3 = false">Close</v-btn>
									<div class="flex-grow-1"></div>
									<v-btn
										:disabled="!form || loading"
										color="success"
										text
										depressed
										:loading="loading"
										@click="sendcontact"
									>Send</v-btn>
								</v-card-actions>
							</v-card>
						</v-card>
					</v-dialog>
				</div>
				<div class="social mt-3 text-center">
					<h3 v-if="locale === 'ru'">Поделится с друзьями</h3>
					<h3 v-else>Share with friends</h3>
					<social class="mt-3" />
				</div>
				<div id="content"></div>
			</v-flex>
		</v-layout>
		<v-layout row wrap class="ma-5 galleryPost-layoutInfo">
			<v-flex>
				<v-card light>
					<v-tabs color="hover">
						<v-tab v-if="locale === 'ru'">
							<v-icon left>mdi-information-outline</v-icon>Описание
						</v-tab>
						<v-tab v-else>
							<v-icon left>mdi-information-outline</v-icon>Description
						</v-tab>
						<v-tab v-if="locale === 'ru' && video">
							<v-icon left>mdi-library-video</v-icon>Видеобзор
						</v-tab>
						<v-tab v-else-if="video">
							<v-icon left>mdi-library-video</v-icon>Video review
						</v-tab>
						<v-tabs-slider color="hover"></v-tabs-slider>
						<v-tab-item>
							<v-card light flat class="pa-3">
								<v-card-text v-if="locale === 'ru'" v-html="contentRus"></v-card-text>
								<v-card-text v-else v-html="contentEng"></v-card-text>
							</v-card>
						</v-tab-item>
						<v-tab-item v-if="video">
							<v-card light flat>
								<v-card-text>
									<iframe
										width="100%"
										height="500px"
										:src="'https://www.youtube.com/embed/' + video"
										frameborder="0"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen
									></iframe>
								</v-card-text>
							</v-card>
						</v-tab-item>
						<div v-else></div>
					</v-tabs>
				</v-card>
			</v-flex>
		</v-layout>
		<v-snackbar v-model="successSend">
			<div v-if="locale === 'ru'">Ваше сообщение успешно отправлено!</div>
			<div v-else>Your message has been sent successfully!</div>
			<v-btn color="hover" text @click="successSend = false">Закрыть</v-btn>
		</v-snackbar>
	</div>
</template>

<script>
	import buyModal from "~/components/buymodal";
	import sliderZoom from "~/components/sliderZoom";
	import social from "~/components/social";
	import { mask } from "vue-the-mask";
	export default {
		directives: {
			mask
		},
		components: {
			sliderZoom,
			social
		},
		head() {
			return {
				title:
					this.$i18n.locale === "ru"
						? "Картина - " + this.titleRus
						: "Painting - " + this.titleEng,
				meta: [
					{
						hid: "description",
						name: "description",
						content:
							this.$i18n.locale === "ru"
								? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
								: "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
					}
				]
			};
		},
		data() {
			return {
				url: "",
				dialog3: false,
				valid: false,
				form: false,
				mask: "+####-####-####-####",
				phone: "",
				nameModal: "",
				titlePic: "",
				checkbox: false,
				phoneRules: [v => v.length >= 2 || "Слишком короткий телефон"],
				nameRules: [
					v => v.length >= 2 || "Слишком короткое имя",
					v => v.length <= 20 || "Слишком длинное имя"
				],
				successSend: false,
				loading: false
			};
		},
		mounted() {
			this.url = location.origin;
			const resTitlePic =
				this.$i18n.locale === "ru"
					? (this.titlePic = this.titleRus)
					: (this.titlePic = this.titleEng);
		},
		validate({ params }) {
			return !isNaN(+params.id);
		},
		async asyncData({ params, error, $axios }) {
			try {
				const data = await $axios.$get(`/api/pictures/${+params.id}`);
				return data;
			} catch (e) {
				error({ message: "User not found", statusCode: 404 });
			}
		},
		computed: {
			locale() {
				return this.$i18n.locale;
			},
			imageSrcEdited() {
				const result = this.imageSrc.map(item => this.url + "/" + item);
				return result;
			}
		},
		methods: {
			async sendcontact() {
				this.loading = true;
				const datarequest = {
					nameModal: this.nameModal,
					phone: this.phone,
					titlePic: this.titlePic
				};
				const { data } = await this.$axios.post("/api/email", datarequest);
				this.dialog3 = false;
				this.loading = false;
				if (data.status === "Ok") {
					this.successSend = true;
				}
			}
		}
	};
</script>

<style lang="sass" scoped>
*a
	text-decoration: none
body
	min-height: 100vh
	background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%)
	#exzoom
		width: 38vw
	.slider
		max-width: 100%
	.hidden
		display: none
@media screen and ( max-width: 960px )
	.galleryPost
		h1
			font-size: 1.5rem !important
		#exzoom
			width: 90vw !important
.social
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-end
	height: 50vh
@media screen and ( max-width: 960px )
	.social
		height: auto
@media screen and ( max-width: 410px )
	.galleryPost
		&-layoutgalery
			margin: 0 !important
			.flex
				padding-bottom: 0 !important
				padding-top: 0 !important
				.v-breadcrumbs
					padding: 0 0 0 10px !important
					a, span
						font-size: 12px
				.v-data-table td, .v-data-table th
					padding: 0 5px !important
				.v-tab
					font-size: 12px !important
		&-layoutInfo
			margin: 0 !important
			.v-slide-group__wrapper
				right: 30px
				.v-tab
					text-transform: none
		&-title
			margin-left: 0 !important
			margin-right: 0 !important
			.flex
				text-align: center
	#exzoom
		width: 94vw !important
</style>
