<template>
	<div class="shop">
		<v-layout row wrap class="white ma-5">
			<v-flex md12 class="align-center justify-center d-flex">
				<h1 v-if="locale === 'ru'" class="bgdrawer--text display-1 ma-5">Интернет-магазин</h1>
				<h1 v-else class="bgdrawer--text display-1 ma-5">Online shop</h1>
			</v-flex>
		</v-layout>
		<v-layout row wrap class="bgdrawer white justify-center ma-5 pa-3 shop-layout">
			<v-layout row wrap>
				<v-flex
					v-for="item in filterHorizont"
					:key="item.id"
					lg6
					md6
					sm6
					xs12
					class="align-center justify-center d-flex pa-3 hor-item"
				>
					<v-card light elevation class="home-item-wrap" flat>
						<v-img class="white--text hor-item-img" height="25vw" :src="'../'+item.imageMainSrc"></v-img>
						<v-card-title v-if="locale === 'ru'" class="align-end fill-height">{{ item.titleRus }}</v-card-title>
						<v-card-title v-else class="align-end fill-height">{{ item.titleEng }}</v-card-title>
						<v-card-text v-if="locale === 'ru'">{{ item.typeRus }} / {{ item.sizeRus }}</v-card-text>
						<v-card-text v-else>{{ item.typeEng }} / {{ item.sizeEng }}</v-card-text>
						<v-divider />
						<v-card-actions v-if="actions">
							<v-layout row wrap justify-space-between px-5>
								<!--<v-flex class="d-flex align-center">
									<p v-if="locale === 'ru'" class="ma-0">
										Цена
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
									<p v-else class="text-uppercase ma-0">
										Price
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
								</v-flex>-->
								<v-flex d-flex justify-end>
									<v-btn v-if="locale === 'ru'" :to="'/ru/shop/'+item.id" text>Подробнее</v-btn>
									<v-btn v-else :to="'/shop/'+item.id" text>More</v-btn>
								</v-flex>
							</v-layout>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
			<v-layout row wrap class="justify-center">
				<v-flex
					v-for="item in triofilter"
					:key="item.id"
					lg4
					md6
					sm6
					xs12
					class="align-center justify-center d-flex pa-3 trio"
				>
					<v-card light elevation class="mx-auto" flat outlined raised>
						<v-img v-if="media" class="white--text trio-img" contain :src="'../'+item.imageMainSrc"></v-img>
						<v-card-title v-if="locale === 'ru'" class="align-end fill-height">{{ item.titleRus }}</v-card-title>
						<v-card-title v-else class="align-end fill-height">{{ item.titleEng }}</v-card-title>
						<v-card-text v-if="locale === 'ru'">Холст / {{ item.typeRus }} / {{ item.sizeRus }}</v-card-text>
						<v-card-text v-else>Canvas / {{ item.typeEng }} / {{ item.sizeEng }}</v-card-text>
						<v-divider />
						<v-card-actions v-if="actions">
							<v-layout row wrap justify-space-between class="px-4">
								<!--<v-flex class="d-flex align-center">
									<p v-if="locale === 'ru'" class="mb-0">
										Цена
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
									<p v-else class="text-uppercase ma-0">
										Price
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
								</v-flex>-->
								<v-flex d-flex justify-end>
									<v-btn v-if="locale === 'ru'" :to="'/ru/shop/'+item.id" text>Подробнее</v-btn>
									<v-btn v-else :to="'/shop/'+item.id" text>More</v-btn>
								</v-flex>
							</v-layout>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
			<v-layout row wrap class="justify-center">
				<v-flex
					v-for="item in filterKvadrat"
					:key="item.id"
					lg4
					md6
					sm6
					xs12
					class="align-center justify-center d-flex pa-3 kvadr"
				>
					<v-card light elevation class="mx-auto" flat outlined raised>
						<v-img v-if="media" class="white--text kvadr-img" contain :src="'../'+item.imageMainSrc"></v-img>
						<v-card-title v-if="locale === 'ru'" class="align-end fill-height">{{ item.titleRus }}</v-card-title>
						<v-card-title v-else class="align-end fill-height">{{ item.titleEng }}</v-card-title>
						<v-card-text v-if="locale === 'ru'">Холст / {{ item.typeRus }} / {{ item.sizeRus }}</v-card-text>
						<v-card-text v-else>Canvas / {{ item.typeEng }} / {{ item.sizeEng }}</v-card-text>
						<v-divider />
						<v-card-actions v-if="actions">
							<v-layout row wrap justify-space-between px-5>
								<!--<v-flex class="d-flex align-center">
									<p v-if="locale === 'ru'" class="mb-0">
										Цена
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
									<p v-else class="text-uppercase ma-0">
										Price
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
								</v-flex>-->
								<v-flex d-flex justify-end>
									<v-btn v-if="locale === 'ru'" :to="'/ru/shop/'+item.id" text>Подробнее</v-btn>
									<v-btn v-else :to="'/shop/'+item.id" text>More</v-btn>
								</v-flex>
							</v-layout>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
			<v-layout row wrap class="justify-center">
				<v-flex
					v-for="item in filterVert"
					:key="item.id"
					lg4
					md6
					sm6
					xs12
					class="align-center justify-center d-flex pa-3"
				>
					<v-card light elevation class="mx-auto" flat outlined raised>
						<v-img v-if="media" class="white--text" contain :src="'../'+item.imageMainSrc"></v-img>
						<v-card-title v-if="locale === 'ru'" class="align-end fill-height">{{ item.titleRus }}</v-card-title>
						<v-card-title v-else class="align-end fill-height">{{ item.titleEng }}</v-card-title>
						<v-card-text v-if="locale === 'ru'">{{ item.typeRus }} / {{ item.sizeRus }}</v-card-text>
						<v-card-text v-else>{{ item.typeEng }} / {{ item.sizeEng }}</v-card-text>
						<v-divider />
						<v-card-actions v-if="actions">
							<v-layout row wrap justify-space-between px-5>
								<!--<v-flex class="d-flex align-center">
									<p v-if="locale === 'ru'" class="text-uppercase ma-0">
										Цена
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
									<p v-else class="text-uppercase ma-0">
										Price
										<span class="text-lowercase">
											$
											<strong>{{item.priceEng}}</strong>
										</span>
									</p>
								</v-flex>-->
								<v-flex d-flex justify-end>
									<v-btn v-if="locale === 'ru'" :to="'/ru/shop/'+item.id" text>Подробнее</v-btn>
									<v-btn v-else :to="'/shop/'+item.id" text>More</v-btn>
								</v-flex>
							</v-layout>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
		</v-layout>
	</div>
</template>

<script>
	import axios from "axios";
	export default {
		head() {
			return {
				title: this.$i18n.locale === "ru" ? "Интернет магазин" : "Shop",
				meta: [
					{
						hid: "description",
						name: "description",
						content:
							this.$i18n.locale === "ru"
								? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
								: "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
					}
				]
			};
		},
		data() {
			return {
				flat: false,
				media: true,
				loading: false,
				actions: true,
				outlined: false,
				elevation: true,
				raised: false,
				dialog3: false,
				valid: false,
				form: false,
				phone: undefined,
				checkbox: false,
				phoneRules: [v => v.length >= 2 || "Слишком короткий телефон"],
				nameModal: "",
				nameRules: [
					v => v.length >= 2 || "Слишком короткое имя",
					v => v.length <= 10 || "Слишком длинное имя"
				]
			};
		},
		computed: {
			// filerGallery() {
			//   return this.galleryIsShop.filter(image => image.isShop);
			// },
			triofilter() {
				const result = this.galleryIsShop.filter(item => item.trio === "trio");
				result.sort((a, b) => a.position - b.position);
				return result;
			},
			filterHorizont() {
				const result = this.galleryIsShop.filter(
					image => image.isShop && image.row === "horizont"
				);
				result.sort((a, b) => a.position - b.position);
				return result;
			},
			filterKvadrat() {
				const result = this.galleryIsShop.filter(
					image => image.isShop && image.row === "kvadrat"
				);
				result.sort((a, b) => a.position - b.position);
				return result;
			},
			filterVert() {
				const result = this.galleryIsShop.filter(
					image => image.isShop && image.row === "vert"
				);
				result.sort((a, b) => a.position - b.position);
				return result;
			},
			locale() {
				return this.$i18n.locale;
			}
		},
		async asyncData({ $axios, error }) {
			try {
				const galleryIsShop = await $axios.$get(`/api/pictures`);
				return { galleryIsShop };
			} catch (e) {
				error({ message: "User not found", statusCode: 404 });
			}
		}
	};
</script>

<style lang="sass" scoped>
.v-input__slider
	width: 100%
@media screen and ( max-width: 960px)
	.shop
		h1
			font-size: 1.5rem !important
		.v-card__title
			font-size: 1rem !important
			line-height: 1rem
			padding: 10px 10px 5px 10px
		.v-card__text
			font-size: .8rem !important
			line-height: .8rem
			padding: 5px 10px 10px 10px
		.v-card__actions
			padding: 5px
			div
				line-height: 1rem
				p
					font-size: 1rem
					text-transform: none !important
				a
					text-transform: none !important
@media screen and ( max-width: 590px )
	.shop
		&-layout
			margin: 0 !important
	.hor-item
		&-img
			height: 48vw !important
@media screen and ( max-width: 400px )
	.hor-item
		&-img
			height: 50vw !important
</style>
