<template>
  <div class="galleryPost">
    <v-layout row wrap class="white ma-5 gallery-title">
      <v-flex md12 class="align-center justify-center d-flex">
        <h1 v-if="locale === 'ru'" class="bgdrawer--text display-1 ma-5">
          {{ titleRus }}
        </h1>
        <h1 v-else class="bgdrawer--text display-1 ma-5">{{ titleEng }}</h1>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="white ma-5 gallery-layout">
      <v-flex md12 class="d-flex ma-5"> </v-flex>
      <v-flex md12 class="bgdrawer--text pa-5">
        <sliderZoom
          :images="imageSrcEdited"
          class="float-left mr-3 sliderZoom"
        />
        <div v-if="locale === 'ru'">
          <v-breadcrumbs>
            <nuxt-link :to="'../gallery'">Галерея</nuxt-link>
            <div class="px-1">></div>
            <span>{{ titleRus }}</span>
          </v-breadcrumbs>
          <h2>Описание картины</h2>
          <div v-html="contentRus"></div>
        </div>
        <div v-else>
          <v-breadcrumbs>
            <nuxt-link :to="'../gallery'">Gallery</nuxt-link>
            <div class="px-1">></div>
            <span>{{ titleEng }}</span>
          </v-breadcrumbs>
          <h2>Description of the painting</h2>
          <div v-html="contentEng"></div>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import sliderZoom from "~/components/sliderZoom";
export default {
  components: {
    sliderZoom
  },
  head() {
    return {
      title:
        this.$i18n.locale === "ru"
          ? "Картина - " + this.titleRus
          : "Painting - " + this.titleEng,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data() {
    return {
      url: "",
      zoomerOptions: {
        zoomFactor: 3,
        pane: "pane",
        hoverDelay: 300,
        namespace: "zoomer-bottom",
        move_by_click: false,
        scroll_items: 4,
        choosed_thumb_border_color: "#dd2c00",
        scroller_position: "bottom",
        zoomer_pane_position: "right"
      }
    };
  },
  mounted() {
    this.url = location.origin;
  },
  // updated() {
  //   $(".slider").imagesLoaded(function() {
  //     $("#exzoom").exzoom({
  //       autoPlay: false
  //     });
  //     $("#exzoom").removeClass("hidden");
  //   });
  // },
  validate({ params }) {
    return !isNaN(+params.id);
  },
  async asyncData({ params, error, $axios }) {
    try {
      const data = await $axios.$get(`/api/pictures/${+params.id}`);
      return data;
    } catch (e) {
      error({ message: "User not found", statusCode: 404 });
    }
  },
  computed: {
    locale() {
      return this.$i18n.locale;
    },
    imageSrcEdited() {
      const urls = this.imageSrc.map(item => (item = this.url + "/" + item));
      //const result = { thumbs: [], normal_size: [] };
      // urls.forEach((item, index) => {
      //   const image = { id: index + 1, url: item };
      //   result.thumbs.push(image);
      //   result.normal_size.push(image);
      // });
      return urls;
    }
  }
};
</script>

<style lang="sass" scoped>
body
  min-height: 100vh
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%)
  #exzoom
    width: 38vw
  .slider
    max-width: 100%
  .hidden
    display: none
.v-btn--icon.v-size--default
  width: 50px
  height: 50px
.v-window__prev, .v-window__next
  background: #5dc4c2c7
.zoomer-control
  width: 50px !important
@media screen and ( max-width: 960px )
  .sliderZoom
    float: none !important
  .gallery-title
    margin-left: 0  !important
    margin-right: 0 !important
    h1
      font-size: 1.5rem !important
      text-align: center
  .gallery-layout
    margin-left: 0  !important
    margin-right: 0 !important
  .flex
    #exzoom
      width: 92vw
    div
      font-size: 14px !important
</style>
