<template>
  <div class="gallery" id="gallery">
    <v-layout row wrap class="white ma-5">
      <v-flex md12 class="align-center justify-center d-flex gallery-title">
        <h1 v-if="locale === 'ru'" class="bgdrawer--text display-1 ma-5">
          Галерея работ
        </h1>
        <h1 v-else class="bgdrawer--text display-1 ma-5">Work gallery</h1>
      </v-flex>
    </v-layout>
    <!-- <v-layout row wrap class="white ma-5">
      <v-flex md12 class="pa-5">
        <div class="gallery-filter d-flex justify-center">
          <v-btn @click="changefilter('all')" text outlined color="bgdrawer">
            <v-icon left>mdi-all-inclusive</v-icon>
            <span v-if="locale === 'ru'">Все картины</span>
            <span v-else>All pictures</span>
          </v-btn>
          <v-btn @click="changefilter('Oil')" text outlined color="bgdrawer">
            <v-icon left>mdi-broom</v-icon>
            <span v-if="locale === 'ru'">Масло</span>
            <span v-else>Oil</span>
          </v-btn>
          <v-btn @click="changefilter('Other')" text outlined color="bgdrawer">
            <v-icon left>mdi-account-box-multiple-outline</v-icon>
            <span v-if="locale === 'ru'">Уголь/Пастель/Акварель</span>
            <span v-else>Coal/Pastel/Watercolor</span>
          </v-btn>
        </div>
      </v-flex>
    </v-layout>-->
    <v-layout row wrap class="home-layut justify-center bgdrawer">
      <v-layout
        row
        wrap
        class="gallery-layout mw100 w100 pr-1 pt-3 pl-3"
        justify-space-around
      >
        <v-flex
          :lg4="!drawer"
          v-for="galleryItem in filterHorizont"
          :key="galleryItem.id"
          :lg6="drawer"
          md6
          sm6
          xs12
          class="home-item-horizont home-item pb-3 pr-3"
          style="max-height: 25vw;"
        >
          <div class="home-item-wrap">
            <v-img
              :src="'../' + galleryItem.imageMainSrc"
              class="home-item-wrap-img himg"
            ></v-img>
            <div class="home-item-info">
              <h2 v-if="locale === 'ru'">{{ galleryItem.titleRus }}</h2>
              <h2 v-else>{{ galleryItem.titleEng }}</h2>
              <p v-if="locale === 'ru'">
                {{ galleryItem.typeRus }} / {{ galleryItem.sizeRus }}
              </p>
              <p v-else>
                {{ galleryItem.typeEng }} / {{ galleryItem.sizeEng }}
              </p>
              <v-divider></v-divider>
              <v-btn
                v-if="locale === 'ru'"
                :to="'/ru/gallery/' + galleryItem.id"
                small
                outlined
                rounded
                color="white"
              >
                <v-icon left>mdi-chevron-right-box-outline</v-icon>
                <span>Подробнее</span>
              </v-btn>
              <v-btn
                v-else
                :to="'/gallery/' + galleryItem.id"
                small
                outlined
                rounded
                color="white"
              >
                <v-icon left>mdi-chevron-right-box-outline</v-icon>
                <span>More</span>
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="squareLayout mw100 w100 justify-center pl-3">
        <v-flex
          v-for="galleryItem in filterKvadrat"
          :key="galleryItem.id"
          lg4
          md6
          sm6
          xs12
          class="home-item-square home-item pb-3 pr-3"
        >
          <div class="home-item-wrap">
            <v-img
              :src="'../' + galleryItem.imageMainSrc"
              contain
              height="100%"
              class="home-item-wrap-img"
            ></v-img>
            <div class="home-item-info">
              <h2 v-if="locale === 'ru'">{{ galleryItem.titleRus }}</h2>
              <h2 v-else>{{ galleryItem.titleEng }}</h2>
              <p v-if="locale === 'ru'">
                {{ galleryItem.typeRus }} / {{ galleryItem.sizeRus }}
              </p>
              <p v-else>
                {{ galleryItem.typeEng }} / {{ galleryItem.sizeEng }}
              </p>
              <v-divider></v-divider>
              <v-btn
                v-if="locale === 'ru'"
                :to="'/ru/gallery/' + galleryItem.id"
                small
                outlined
                rounded
                color="white"
              >
                <v-icon left>mdi-chevron-right-box-outline</v-icon>
                <span>Подробнее</span>
              </v-btn>
              <v-btn
                v-else
                :to="'/gallery/' + galleryItem.id"
                small
                outlined
                rounded
                color="white"
              >
                <v-icon left>mdi-chevron-right-box-outline</v-icon>
                <span>More</span>
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
      <v-layout row wrap class="vert-layout mw100 w100 justify-center pl-3">
        <v-flex
          v-for="galleryItem in filterVert"
          :key="galleryItem.id"
          lg4
          md6
          sm6
          xs12
          class="home-item pb-3 pr-3"
        >
          <div class="home-item-wrap">
            <v-img
              :src="'../' + galleryItem.imageMainSrc"
              contain
              height="100%"
              class="home-item-wrap-img"
            ></v-img>
            <div class="home-item-info">
              <h2 v-if="locale === 'ru'">{{ galleryItem.titleRus }}</h2>
              <h2 v-else>{{ galleryItem.titleEng }}</h2>
              <p v-if="locale === 'ru'">
                {{ galleryItem.typeRus }} / {{ galleryItem.sizeRus }}
              </p>
              <p v-else>
                {{ galleryItem.typeEng }} / {{ galleryItem.sizeEng }}
              </p>
              <v-divider></v-divider>
              <v-btn
                v-if="locale === 'ru'"
                :to="'/ru/gallery/' + galleryItem.id"
                small
                outlined
                rounded
                color="white"
              >
                <v-icon left>mdi-chevron-right-box-outline</v-icon>
                <span>Подробнее</span>
              </v-btn>
              <v-btn
                v-else
                :to="'/gallery/' + galleryItem.id"
                small
                outlined
                rounded
                color="white"
              >
                <v-icon left>mdi-chevron-right-box-outline</v-icon>
                <span>More</span>
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-layout>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.$i18n.locale === "ru" ? "Галерея работ" : "Gallery",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data() {
    return {
      galleryFilter: "all"
      // drawer: true
    };
  },
  computed: {
    // filteredgalleryitem: function() {
    //   let typeEng = this.galleryFilter;

    //   if (typeEng === "all") {
    //     return this.galleryItems.sort((a, b) => a.position - b.position);
    //   } else {
    //     return this.galleryItems;
    //     return this.galleryItems.filter(
    //       galleryItem => galleryItem.category === typeEng
    //     );
    //   }
    // },
    drawer() {
      return this.$parent.$parent.$parent.$parent.drawer;
    },
    filterHorizont() {
      const result = this.galleryItems.filter(
        image => image.row === "horizont"
      );
      result.sort((a, b) => a.position - b.position);
      return result;
    },
    filterKvadrat() {
      const result = this.galleryItems.filter(image => image.row === "kvadrat");
      result.sort((a, b) => a.position - b.position);
      return result;
    },
    filterVert() {
      const result = this.galleryItems.filter(image => image.row === "vert");
      result.sort((a, b) => a.position - b.position);
      return result;
    },
    locale() {
      return this.$i18n.locale;
    }
  },
  methods: {
    changefilter(value) {
      this.galleryFilter = value;
    }
  },
  async asyncData({ $axios, error }) {
    try {
      const galleryItems = await $axios.$get(`/api/pictures`);
      return { galleryItems };
    } catch (e) {
      error({ message: "User not found", statusCode: 404 });
    }
  }
};
</script>

<style lang="sass" scoped>
.mw100
  max-width: 100%
.w100
  width: 100%
.home-layut
  max-width: 100%
  .home-item
    position: relative
    margin: -1px -1px
    &-wrap
      position: relative
      height: 100%
      &-img
        width: 100%
        height: 100%
    &-info
      position: absolute
      left: 0
      bottom: 0
      opacity: 0
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      background: rgba(94, 196, 194, 0.7)
      transition: all ease 1s
      h2
        font-size: 1.125rem
      p
        font-size: 1rem
      .v-btn__content
        font-size: .775rem
    &:hover
      .home-item-info
        opacity: 1
@media screen and (max-width: 960px)
  .home-layut
    margin-left: 0 !important
    margin-right: 0 !important
    padding-left: 0 !important
    padding-right: 0 !important
  .gallery-title h1
     font-size: 1.5rem !important
  .gallery-layout
    padding-right: 0 !important
    justify-content: center
    height: 100%
  .home-item-horizont
    max-height: 32vw !important
    height: 32vw !important
    .himg
      max-height: 100% !important
      height: 100% !important
@media screen and (max-width: 590px)
  .home-item-horizont
    max-height: 57vw !important
    height: 57vw !important
@media screen and (max-width: 400px)
  .home-item-horizont
    max-height: 57vw !important
    height: 57vw !important
</style>
