<template>
  <div>
    <v-layout row wrap>
      <v-flex>
        <v-dialog persistent v-model="buyModal">
          <v-card light flat class="mx-auto">
            <v-form ref="form" v-model="form" class="d-flex pa-3">
              <v-flex class="mr-3">
                <v-text-field
                  v-model.lazy="name"
                  :rules="nameRules"
                  counter="10"
                  color="cyan lighten-2"
                  label="Имя"
                  type="text"
                ></v-text-field>
                <v-text-field v-model="phone" color="cyan lighten-2" label="Телефон"></v-text-field>
                <v-checkbox
                  v-model="checkbox"
                  :rules="[v => !!v || 'Вы что терминатор? Если нет то поставь галочку']"
                  label="Проверка на человечность :)"
                  required
                ></v-checkbox>
              </v-flex>
            </v-form>
            <v-divider></v-divider>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn
                :disabled="!form"
                class="white--text"
                color="cyan lighten-2 accent-4"
                depressed
              >Отправить</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data: () => ({
    buyModal: false,
    valid: false,
    form: false,
    phone: undefined,
    name: "",
    nameRules: [
      v => v.length >= 2 || "Слишком короткое имя",
      v => v.length <= 10 || "Слишком длинное имя"
    ],
    email: "",
    emailRules: [
      v => !!v || "Забыли ввести Email",
      v => /.+@.+/.test(v) || "Пожалуйста введите плавильный Email"
    ],
    checkbox: false
  })
};
</script>

<style>
</style>
