<template>
  <div class="submenu pt-5">
    <v-subheader class="hover--text justify-end">
      <span class="pr-1">{{ heading }}</span>
      <v-icon color="hover">{{ icon }}</v-icon>
    </v-subheader>
    <v-list class="pt-0">
      <v-list-item
        active-class="white--text"
        v-for="(submenu, i) in submenus"
        :key="i"
        :to="submenu.to"
        exact
        flat
      >
        <v-list-item-content class="text-right pa-1">
          <v-list-item-title v-text="submenu.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      submenus: [
        { title: "Масло", to: "/maslo" },
        { title: "Уголь/Пастель/Акварель", to: "/ugol-pastel-akvarel" }
      ],
      heading: "Типы картин",
      icon: "mdi-windows"
    };
  }
};
</script>

<style lang="sass">
  .submenu
    .v-list-item
      min-height: 1.875rem
</style>
