<template>
  <v-list class="text-right pt-0 pb-0" elevation="5">
    <v-list-item
      active-class="hover white--text"
      class="libg"
      v-for="(item, i) in navmenu"
      :key="i"
      :to="localePath(item.to)"
      exact
    >
      <v-list-item-content>
        <v-list-item-title class="text-uppercase" v-text="$t(item.title)" />
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<i18n>
  {
    "en": {
      "Home": "Home",
      "About": "About",
      "Gallery": "Gallery",
      "Shop": "Shop",
      "Commisions": "Commisions",
      "News": "News",
      "Contacts": "Contacts"
    },
    "ru": {
      "Home": "Главная",
      "About": "Обо мне",
      "Gallery": "Галерея работ",
      "Shop": "Интернет-магазин",
      "Commisions": "Картина на заказ",
      "News": "Новости",
      "Contacts": "Контакты"
    }
  }
</i18n>

<script>
export default {
  data() {
    return {
      navmenu: [
        { title: "Home", to: "index" },
        { title: "About", to: "about" },
        { title: "Gallery", to: "gallery" },
        { title: "Shop", to: "shop" },
        { title: "Commisions", to: "commisions" },
        { title: "News", to: "news" },
        { title: "Contacts", to: "contacts" }
      ]
    };
  }
};
</script>

<style lang="sass">
.libg
  background: #31393d
  border-bottom: solid .0325rem #293034
</style>
