<template>
  <div>
    <div class="box">
      <div class="vanilla-zoom">
        <div class="zoomed-wrap">
          <div class="zoomed-image"></div>
        </div>
        <div class="sidebar">
          <img
            v-for="item in images"
            :key="item"
            :src="item"
            class="small-preview"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
class vanillaZoom {
  constructor(element) {
    this.container = element;
    this.firstSmallImage = this.container.querySelector(".small-preview");
    this.zoomedImage = this.container.querySelector(".zoomed-image");
    this.init();
    this.changePhoto();
    //this.mouseEnter();
    //this.mouseMove();
    //this.mouseLeave();
  }

  init() {
    if (!this.container) {
      console.error("Нет элемента container");
    }
    if (!this.zoomedImage) {
      console.error("Нет элемента zoomedImage");
    }
    if (!this.firstSmallImage) {
      console.error("Нет элемента firstSmallImage");
    } else {
      this.zoomedImage.style.backgroundImage =
        "url(" + this.firstSmallImage.src + ")";
    }
  }

  changePhoto() {
    this.container.addEventListener("click", e => {
      const elem = e.target;
      if (elem.classList.contains("small-preview")) {
        this.zoomedImage.style.backgroundImage = "url(" + elem.src + ")";
      }
    });
  }

  mouseEnter() {
    this.zoomedImage.addEventListener("mouseenter", () => {
      this.zoomedImage.style.backgroundSize = "250%";
    });
  }

  mouseMove() {
    this.zoomedImage.addEventListener("mousemove", e => {
      let dimension = this.zoomedImage.getBoundingClientRect(),
        x = e.clientX - dimension.left,
        y = e.clientY - dimension.top,
        xPercent = Math.round(100 / (dimension.width / x)),
        yPercent = Math.round(100 / (dimension.height / y));
      this.zoomedImage.style.backgroundPosition =
        xPercent + "%" + yPercent + "%";
    });
  }

  mouseLeave() {
    this.zoomedImage.addEventListener("mouseleave", () => {
      this.zoomedImage.style.backgroundSize = "contain";
      this.zoomedImage.style.backgroundPosition = "center";
    });
  }
}
export default {
  props: ["images"],
  mounted() {
    let zoom = document.querySelectorAll(".vanilla-zoom");
    zoom.forEach(item => {
      new vanillaZoom(item);
    });
  }
};
</script>

<style lang="sass" scoped>
.box
  width: 100%
  color: #333
  background: #fff
  text-align: center
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
#my-gallery
  max-width: 700px
  margin: 0 auto
.vanilla-zoom
  max-width: 43vw
  .sidebar
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    img
      &.small-preview
        max-width: 19%
        width: 100%
        height: 100%
        max-height: 20vh
        margin-bottom: 5px
        margin-right: 5px
        cursor: pointer
        &:last-child
          margin-bottom: 0
  .zoomed-wrap
    max-width: 100%
    width: 100%
    height: 500px
    background-color: #ccc
    padding: 1px
    position: relative
    z-index: 4
    margin-bottom: 5px
  .zoomed-image
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    position: relative
    z-index: 5
@media screen and ( max-width: 960px )
  .vanilla-zoom
    max-width: 100vw
@media screen and ( max-width: 500px )
  .small-preview
    max-width: 23% !important
</style>
