<template>
  <div
    class="ya-share2"
    data-lang="en"
    data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,blogger,delicious,digg,reddit,linkedin,lj,pocket,qzone,renren,sinaWeibo,surfingbird,tencentWeibo,tumblr,whatsapp,skype,telegram"
  ></div>
</template>

<script>
export default {
  head: {
    script: [
      {
        src: "https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js",
        type: "text/javascript"
      },
      {
        src: "https://yastatic.net/share2/share.js",
        type: "text/javascript",
        async: "async"
      }
    ]
  }
};
</script>

<style lang="sass">
.ya-share2__container_size_m .ya-share2__icon
  width: 50px !important
  height: 50px !important
  background-size: 50px 50px !important
.ya-share2__badge
  border-radius: 12px !important
.ya-share2__list_direction_horizontal > .ya-share2__item
  margin-bottom: 4px !important
.ya-share2__container_size_m
  text-align: left !important
</style>
