<template>
  <div class="newsPost">
    <v-layout elevation-8 row wrap class="bgdrawer ma-5 newsPost-title">
      <v-flex md12 class="align-center justify-center d-flex">
        <h1 v-if="locale === 'ru'" class="white--text display-1 ma-5">
          {{ titleRus }}
        </h1>
        <h1 v-else class="white--text display-1 ma-5">{{ titleEng }}</h1>
      </v-flex>
    </v-layout>
    <v-layout elevation-8 row wrap class="white ma-5 pa-3 newsPost-layout">
      <v-flex md12 pl-3 class="bgdrawer--text">
        <v-layout wrap class="galleryRow mr-6 mb-3">
          <v-img class="image" :src="'/' + imageMainSrc" max-width="500px" />
          <v-flex
            pa-2
            md4
            sm3
            xs5
            v-for="(image, i) in imageSrcList"
            :key="i"
            @click="index = i"
          >
            <v-img class="image" :src="image" max-width="300px" />
          </v-flex>
          <vue-gallery-slideshow
            :images="imageSrcList"
            :index="index"
            @close="index = null"
          ></vue-gallery-slideshow>
        </v-layout>
        <v-breadcrumbs v-if="locale === 'ru'">
          <nuxt-link :to="'../news'">Новости</nuxt-link>
          <div class="px-1">></div>
          <span>{{ titleRus }}</span>
        </v-breadcrumbs>
        <v-breadcrumbs v-else>
          <nuxt-link :to="'/news'">News</nuxt-link>
          <div class="px-1">></div>
          <span>{{ titleEng }}</span>
        </v-breadcrumbs>
        <p v-if="locale === 'ru'" v-html="contentRus"></p>
        <p v-else v-html="contentEng"></p>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import VueGallerySlideshow from "vue-gallery-slideshow";

export default {
  components: {
    VueGallerySlideshow
  },
  head() {
    return {
      title: this.$i18n.locale === "ru" ? this.titleRus : this.titleEng,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data() {
    return {
      url: "",
      index: null
    };
  },
  mounted() {
    this.url = location.origin;
  },
  computed: {
    imageSrcList() {
      return this.imageSrc.map(item => (item = this.url + "/" + item));
    },
    locale() {
      return this.$i18n.locale;
    }
  },
  validate({ params }) {
    return !isNaN(+params.id);
  },
  async asyncData({ params, error, $axios }) {
    try {
      const data = await $axios.$get(`/api/news/${+params.id}`);
      return data;
    } catch (e) {
      error({ message: "User not found", statusCode: 404 });
    }
  }
};
</script>

<style lang="sass" scoped>
.vgs__container
  height: 70vh!important
.galleryRow
  max-width: 500px
  float: left
@media screen and ( max-width: 960px )
  .newsPost
    &-title
      margin-right: 0 !important
      margin-left: 0 !important
      h1
        font-size: 1.5rem !important
        text-align: center
    &-layout
      margin-right: 0 !important
      margin-left: 0 !important
      .galleryRow
        max-width: 100%
        float: none
        margin-right: 0 !important
        .v-image
          max-width: 98% !important
          width: 98% !important
      .v-breadcrumbs> a, span
        word-wrap: break-word
        font-size: 14px !important
</style>
