<template>
  <div class="blog">
    <v-layout elevation-8 row wrap class="bgdrawer ma-5">
      <v-flex md12 class="align-center justify-center d-flex blogTitle">
        <h1 v-if="locale === 'ru'" class="white--text display-1 ma-5">
          Новости
        </h1>
        <h1 v-else class="white--text display-1 ma-5">News</h1>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="blogNewsRow white bgdrawer--text ma-5 pa-3">
      <v-flex
        v-for="news in newsSort"
        :key="news.id"
        md4
        class="blogNewsItems pa-3"
      >
        <v-card :hover="elevation" class="navbg" width="100%" height="100%">
          <v-img :src="'/' + news.imageMainSrc"></v-img>
          <div class="d-flex flex-column newsInfo">
            <v-card-title
              v-if="locale === 'ru'"
              class="white--text align-end newsTitle"
              v-html="news.titleRus"
            ></v-card-title>
            <v-card-title
              v-else
              class="white--text align-end newsTitle"
              v-html="news.titleEng"
            ></v-card-title>
            <v-divider class="newsInfo-btn" />
            <v-card-actions>
              <v-btn
                v-if="locale === 'ru'"
                :to="'/ru/news/' + news.id"
                class="hover--text"
                text
                >Подробнее</v-btn
              >
              <v-btn v-else :to="'/news/' + news.id" class="hover--text" text
                >More</v-btn
              >
            </v-card-actions>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.$i18n.locale === "ru" ? "Новости" : "News",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data() {
    return {
      elevation: true
    };
  },
  computed: {
    newsSort() {
      return this.newsItems.sort((a, b) => b.id - a.id);
    },
    locale() {
      return this.$i18n.locale;
    }
  },
  async asyncData({ $axios, error }) {
    try {
      const newsItems = await $axios.$get(`/api/news`);
      return { newsItems };
    } catch (e) {
      error({ message: "User not found", statusCode: 404 });
    }
  }
};
</script>

<style lang="sass" scoped>
.newsInfo
	height: 200px
.newsInfo-btn
	margin-top: auto
.blogNewsItems
	width: 300px
.newsTitle
	word-break: break-word
	font-size: 1.15em
@media screen and ( max-width: 960px )
	.blog
		.blogTitle h1
			font-size: 1.5rem !important
		.layout
			margin-left: 0 !important
			margin-right: 0 !important
			.newsTitle
				font-size: 14px !important
@media screen and ( max-width: 590px )
	.blog
		.layout
			.newsInfo
				height: auto !important
</style>
