<template>
	<v-app dark>
		<v-navigation-drawer
			v-model="drawer"
			:clipped="clipped"
			fixed
			enable-resize-watcher
			app
			color="bgdrawer"
			mobile-break-point="960px"
			class="drawer"
		>
			<v-layout row wrap class="white bgdrawer--text py-8 logo">
				<v-flex md12 class="text-center">
					<span class="display-1">
						Elena Galaxy
						<br />Art
					</span>
				</v-flex>
			</v-layout>
			<navlink />
			<div class="pt-3">
				<ul>
					<li class="linkmail d-flex align-center" v-for="(contact, i) in contacts" :key="i">
						<a :href="contact.to">
							<v-icon class="pr-1">{{ contact.icon }}</v-icon>
							{{ contact.title }}
						</a>
					</li>
				</ul>
			</div>
			<div class="mt-2 ml-6">
				<nuxt-link v-if="locale === 'ru'" to="/ru/question" class="questions">Вопросы</nuxt-link>
				<nuxt-link v-else to="/question" class="questions">Question</nuxt-link>
			</div>
		</v-navigation-drawer>
		<v-content class="bgcontent pt-11">
			<v-app-bar
				:clipped-left="clipped"
				app
				flat
				color="bgdrawer"
				class="d-flex pt-2 appBar"
				height="65px"
			>
				<v-btn left class="transparent" append depressed dark @click.stop="drawer = !drawer">
					<v-icon left>mdi-view-sequential</v-icon>
					<span v-if="locale === 'ru'">Меню</span>
					<span v-else>Menu</span>
				</v-btn>
				<v-spacer></v-spacer>
				<div class="d-flex align-end justify-end">
					<v-flex class="top-menu-lang">
						<span v-if="locale === 'ru'">Язык сайта</span>
						<span v-else>Site language</span>
						<v-menu offset-y>
							<template v-slot:activator="{ on }">
								<v-btn v-if="locale === 'ru'" text v-on="on">
									<v-img :src="iconRu" max-width="20px" max-height="20px" class="mr-2" />Русский
								</v-btn>
								<v-btn v-else text v-on="on">
									<v-img :src="iconEn" max-width="20px" max-height="20px" class="mr-2" />English
								</v-btn>
							</template>
							<v-list>
								<v-list-item v-for="(item, i) in langIcon" :key="i" :to="switchLocalePath(item.code)">
									<v-list-item-title class="d-flex align-center py-2">
										<v-img :src="item.icon" max-width="20px" max-height="20px" class="mr-1" />
										{{ item.name }}
									</v-list-item-title>
								</v-list-item>
							</v-list>
						</v-menu>
					</v-flex>
				</div>
			</v-app-bar>
			<nuxt />
		</v-content>
	</v-app>
</template>

<script>
	import navlink from "~/components/navlink.vue";
	export default {
		components: {
			navlink
		},
		data() {
			return {
				url: "",
				iconRu: "img/russia.svg",
				iconEn: "img/english.svg",
				contacts: [
					{
						title: "elenagalaxyart@gmail.com",
						icon: "mdi-email",
						to: "mailto:elenagalaxyart@gmail.com"
					},
					{
						title: "elenagalaxyart",
						icon: "mdi-instagram",
						to: "https://www.instagram.com/elenagalaxyart/"
					}
				],
				clipped: false,
				drawer: false,
				fixed: false
			};
		},
		mounted() {
			this.url = location.origin;
			this.iconRu = this.url + "/" + this.iconRu;
			this.iconEn = this.url + "/" + this.iconEn;
			if (window.innerWidth > 960) {
				this.drawer = true;
			}
		},
		computed: {
			availableLocales() {
				return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale);
			},
			locale() {
				return this.$i18n.locale;
			},
			locales() {
				return this.$i18n.locales;
			},
			langIcon() {
				const langResult = this.$i18n.locales.map(s => ({ ...s }));
				langResult.forEach(item => {
					item.icon = this.url + "/" + item.icon;
				});
				return langResult;
			}
		}
	};
</script>

<style lang="sass">
a
	text-decoration: none
.linkmail
	list-style-type: none
	a
		color: #4DD0E1!important

.v-toolbar__content
	width: 100%
.v-app-bar.v-app-bar--fixed
	top: -0.9375rem
.v-list-item
	min-height: 2.1875rem
.navcontact
	.v-card__actions
		flex-direction: column
		align-items: flex-end
		a
			color: #fff
			display: flex
			align-items: flex-end
			text-decoration: none
			i
				padding-right: .25rem
			&:hover
				color: #25b1af
				i
					align-items: center
					color: #25b1af
.questions
	color: #566369 !important
	opacity: .5
@media screen and (max-width: 960px)
	.drawer
		top: 50px !important
		.logo
			padding-top: 10px !important
			padding-bottom: 10px !important
	.appBar
		z-index: 999 !important
@media screen and (max-width: 400px)
	.top-menu-lang
		span
			font-size: 14px
		.v-btn
			padding: 0 10px !important
			.v-btn__content
				font-size: 12px
	.v-btn:not(.v-btn--round).v-size--default
		padding: 0 10px !important
</style>
