<template>
  <div class="about">
    <v-layout row wrap class="white ma-5">
      <v-flex md12 class="align-center justify-center d-flex about-title">
        <h1 v-if="locale === 'ru'" class="bgdrawer--text display-1 ma-5">
          Обо мне
        </h1>
        <h1 v-else class="bgdrawer--text display-1 ma-5">About the Artist</h1>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="white ma-5">
      <v-flex md4 sm12 class="pa-5 d-md-none d-sm-flex about-img">
        <v-img
          class="float-left mr-5"
          min-width="320px"
          src="img/about.jpg"
        ></v-img>
      </v-flex>
      <v-flex
        v-if="locale === 'ru'"
        md12
        class="bgdrawer--text about-info pa-5"
      >
        <v-img
          class="float-left mr-5 d-none d-md-flex"
          min-width="320px"
          width="50%"
          :src="'../' + mainImage"
        ></v-img>
        <h3>Меня зовут Елена Фурман (Карнеги).</h3>
        <p>
          Я - художница и известна прежде всего яркими 3D картинами. Мои картины
          выполнены в уникальной технике, благодаря которой достигается
          невероятный объём и рельеф. Я их называю "sculptings" - от английских
          слов sculpture (скульптура) и painting (картина).
        </p>
        <p>
          В отличие от обычных "плоских" картин, даже человек с закрытыми
          глазами может на ощупь понять, что изображено на моей картине.
        </p>
        <p>
          Работа над такой картиной очень трудоёмка и занимаем много времени -
          от трёх месяцев до года.
        </p>
        <p>Как правило, я работаю только мастихином и пальцами.</p>
        <p>
          Картин, выполненных в подобной технике, нет ни в России, ни где-либо
          еще в мире. И на данный момент большинство картин уже распроданы и
          находятся в частных коллекциях.
        </p>
        <p>
          Помимо масла, пишу пастелью, углем и акварелью. Много работ выполнено
          только в одном или в двух цветах, что тоже необычно и мгновенно
          приковывает внимание.
        </p>
        <p>
          Очень часто я использую цвета более яркие, чем в действительности,
          чтобы выразить сильнее мои эмоции, передать настроение.
        </p>
        <p>
          Картины, которые вы видите - это личный творческий опыт и раздумья о
          времени, в котором мы живем, попытки запечатлеть увиденное, пережитое
          или то, что тронуло мою душу. Многое написано на основе ассоциаций,
          воспоминаний. В работах я часто пишу не столько то, что вижу, а то,
          что чувствую.
        </p>
        <p>
          С 12 лет занималась в студиях изобразительного искусства. А с 18 лет
          мои работы представляются на выставках в Великобритании (г. Лондон, г.
          Ньюкасл, г. Лидс, г. Шеффилд) и в США (г. Лос Анджелес, г. Ньюпорт
          Бич, г. Сан Диего). 15 лет прожила в Англии и Америке, сейчас живу и
          работаю в Москве. Получила несколько высших образований:
        </p>
        <ol>
          <li>Государственный Университет Управления (Москва)</li>
          <li>Бизнес школа при Университете Northumbria ( Англия)</li>
          <li>Театральный Институт Ли Страсберга (Лос Анджелес, США)</li>
          <li>Институт Дизайна Интерьеров в г. Ньюпорт Бич (США)</li>
        </ol>
        <p>
          Данный институт является одним из самых престижных учебных заведений в
          области дизайна в США.
        </p>
        <p>
          После окончания института воплощала в жизнь свои художественные и
          дизайнерские идеи, работая в Лос Анджелесе.
        </p>
        <p>
          Своими яркими, необычными и жизнерадостными картинами, написанными от
          всей души, искренне надеюсь принести тепло, радость и счастье в дома
          людей.
        </p>
      </v-flex>
      <v-flex v-else md12 class="bgdrawer--text about-info pa-5">
        <v-img
          class="float-left mr-5 d-none d-md-flex"
          min-width="320px"
          width="50%"
          :src="mainImage"
        ></v-img>
        <h3>My name is Elena Furman (Carnegi).</h3>
        <p>
          I am a fine artist and best known for my vibrant 3D oil paintings. My
          trademark technique using a palette knife and fingers to "sculpt" in
          thick textures and a vivid rainbow palette has become a favorite among
          collectors world-wide.
        </p>
        <p>
          I simply love painting. I get excited over color, beauty in unexpected
          places, and the joy of connecting with others through my art. My
          inspiration comes from the beauty of nature, from people I meet and
          things that I find beautiful. I'm also inspired by the light and
          dazzling colors. Most of the times i deliberately use extreme textures
          and colors just brighter than reality to express myself more
          forcefully and to capture mood and an intense energy that is both
          positive and uplifting. And other times i enjoy painting
          realistically.
        </p>
        <p>
          I trully love working with the oils. But at the same time I enjoy
          pastels, watercolors and charcoal.
        </p>
        <p>
          Apart from sparkling and vivid paintings, I have some monochrome
          paintings. And they are very rare and immediatly draw attention.
        </p>
        <p>
          My passion for painting began when I was twelve years old. I copied
          photos and paintings from that early age, learning the rules so that
          one day I could break them.
        </p>
        <p>
          I lived in England and USA for fifteen years and now I live and work
          in Moscow.
        </p>
        <p>
          <strong>I've graduated from several universities :</strong>
        </p>
        <ul>
          <li>The State University of Management (Moscow, Russia),</li>
          <li>University of Northumbria at Newcastle upon Tyne (UK),</li>
          <li>The Lee Strasberg Theatre Institute in Los Angeles (USA),</li>
          <li>The Interior Design Institute at Newport Beach (USA)</li>
        </ul>
        <p>
          Over this long period of time I have had a chance to perfect my craft
          and to realize what I really like to paint. Through my unique works of
          art I hope to bring joy to the homes and lives. I want my paintings to
          provide the viewer a momentary escape from reality and all the
          problems. My paintings have that magic!
        </p>
        <p>
          <strong>Thank you for visiting and appreciating original art!</strong>
        </p>
        <p>
          <strong
            >Please enjoy, come back often and share with a friend.</strong
          >
        </p>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.$i18n.locale === "ru" ? "Обо мне" : "About",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data() {
    return {
      mainImage: "img/about.jpg"
    };
  },
  computed: {
    locale() {
      return this.$i18n.locale;
    }
  }
};
</script>

<style lang="sass" scoped>
.about-info
  p
    margin-bottom: .3125rem
@media screen and (max-width: 960px)
  .about-img
    justify-content: center
    .v-image
      max-width: 400px
      width: 100%
      min-width: 240px !important
  .about-title
    h1
      font-size: 1.5rem !important
</style>
