<template>
  <div class="commisions">
    <v-layout elevation-8 row wrap class=" white ma-5">
      <v-flex md12 class=" bgdrawer--text align-center justify-center d-flex">
        <h1 v-if="locale === 'ru'" class="display-1 ma-5">
          {{ titleRus }}
        </h1>
        <h1 v-else class="display-1 ma-5">{{ titleEng }}</h1>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="bgdrawer--text white ma-5 pa-5">
      <v-flex v-if="locale === 'ru'" class="commisions-info">
        <p>Как сделать заказ? Очень просто.</p>
        <ul>
          <li>
            <p>
              <strong>1 шаг.</strong>
            </p>
            <p>
              А) Выберите те картины, которые Вам понравились из моей галереи.
              Можете заказать что-то похожее, но не копию. Копии своих работ не
              делаю. Так как я хочу творить , а не ограничивать себя жесткими
              рамками. Возможно, Вам понравится только какой-то элемент одной
              картины. Может быть Вам хотелось бы объединить несколько
              понравившихся моих картин в одну.
            </p>
            <p>
              Б) Предложите свою идею. То, чтобы Вам хотелось видеть на холсте и
              цветовую гамму. Я не всегда принимаю все идеи и предложения, но я
              всегда Вас выслушаю. Например, Вы можете сказать - хотелось бы
              50х100 см горизонтальную картину в ярких тонах. Много красного
              цвета. И природа. Что-то среднее между картинами "В мечтах" и
              "Жизнь удалась!".
            </p>
          </li>
          <li>
            <p>
              <strong>2 шаг.</strong>
            </p>
            <p>
              Вы уже знаете, куда точно повесите новую картину? Сейчас нужно
              определиться с размером. Могу посоветовать вырезать из листа
              бумаги предполагаемый размер картины и прикрепить его на стену.
            </p>
          </li>
          <li>
            <p>
              <strong>3 шаг.</strong>
            </p>
            <p>
              После того, как обсуждены все детали картины, вносится 30%
              предоплата.
              <br />Эта сумма не возвращается. Так как она покрывает стоимость
              всех материалов. <br />И моя техника требует очень много масла.
            </p>
          </li>
          <li>
            <p>
              <strong>4 шаг.</strong>
            </p>
            <p>
              После того, как работа закончена - примерно через 3 - 8 недель,
              высылаю Вам фото и видео готовой работы на согласование. Если Вам
              хотелось бы что-то изменить в картине, то сейчас самое время и я с
              радостью это сделаю.
            </p>
          </li>
          <li>
            <p>
              <strong>5 шаг.</strong>
            </p>
            <p>
              Всё! Работа закончена. Оплачивается оставшаяся сумма и картина
              отправляется к Вам.
            </p>
          </li>
        </ul>
      </v-flex>
      <v-flex v-else class="commisions-info">
        <p>
          It is very easy to do! Perhaps you like a painting on my website that
          is no longer available or you just want a different size or in
          different colors. You can order a painting spesially made for you bu
          the artist!
        </p>
        <ul>
          <li>
            <p>
              <strong>1 step.</strong>
            </p>
            <p>
              A) Choose the painting you like from my gallery. You can order
              something similar, but not a copy. I do not make copies of my
              works. Because I want to create, and not limit myself to a rigid
              framework. Perhaps you will like only some element of one
              painting. Maybe you would like to combine several of my paintings
              into one.
            </p>
            <p>
              B) Suggest a subject, and palette preferences. I don't accept all
              subjects or palettes but I'm happy to hear what you have in mind.
              <br />For example, you can say - I would like 50x100 cm horizontal
              painting in bright colors. Lots of red. Lots of flowers. Something
              between the paintings "Dreaming" and " Life is Good!". <br />Or a
              client might say they want a 50x100 sm horizontal artwork
              depicting something reminiscent of their favorite three paintings
              from my catalog.
            </p>
          </li>
          <li>
            <p>
              <strong>2 step.</strong>
            </p>
            <p>
              Do you already know where exactly to hang the new picture? Now you
              need to decide on the size. I can advise you to cut out the
              estimated size of the painting from a sheet of paper and pin it to
              the wall.
            </p>
          </li>
          <li>
            <p>
              <strong>3 step.</strong>
            </p>
            <p>
              After all the details of the painting are discussed, a 30% deposit
              is paid.
              <br />This amount is not refundable. Since it covers the cost of
              all materials. <br />And my technique requires a lot of oil.
            </p>
          </li>
          <li>
            <p>
              <strong>4 step.</strong>
            </p>
            <p>
              After the work is completed - after about 3 to 8 weeks, I will
              send you photos and videos of the finished work for approval. If
              there are any changes you would like made, this would be the time
              to do it! I'm easy to work with and I'm happy to make any changes
              needed to make you happy!
            </p>
          </li>
          <li>
            <p>
              <strong>5 step.</strong>
            </p>
            <p>
              The work is done. The remaining amount is paid and the painting is
              sent to you.
            </p>
          </li>
        </ul>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.$i18n.locale === "ru" ? "Картина на заказ" : "Commisions",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data() {
    return {
      titleRus: "Картина на заказ",
      titleEng: "How to Commision a Painting"
    };
  },
  computed: {
    locale() {
      return this.$i18n.locale;
    }
  }
};
</script>

<style lang="sass" scoped></style>
