<template>
  <div class="contacts">
    <v-layout row wrap class="contacts-block white ma-5">
      <v-flex md12 class="bgdrawer--text pa-5">
        <div class="d-flex justify-center">
          <h1 v-if="locale === 'ru'">Контакты</h1>
          <h1 v-else>Contacts</h1>
        </div>
        <v-divider />
        <h3 v-if="locale === 'ru'">Отправить сообщение</h3>
        <h3 v-else>Send message</h3>
        <v-layout row wrap>
          <v-flex>
            <v-card light flat class="mx-auto">
              <v-form
                v-if="locale === 'ru'"
                ref="form"
                v-model="form"
                class="d-flex pa-3"
              >
                <v-flex class="mr-3 d-flex flex-column">
                  <v-text-field
                    v-model.lazy="name"
                    :rules="nameRules"
                    counter="20"
                    color="cyan lighten-2"
                    label="Имя"
                  ></v-text-field>
                  <v-text-field
                    v-model="phone"
                    color="cyan lighten-2"
                    label="Телефон"
                    v-mask="mask"
                  ></v-text-field>
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    color="cyan lighten-2"
                    label="Email"
                    type="email"
                  ></v-text-field>
                </v-flex>
                <v-flex class="mt-2">
                  <v-textarea
                    v-model="message"
                    auto-grow
                    color="cyan lighten-2"
                    label="Сообщение"
                    rows="4"
                  ></v-textarea>
                  <v-checkbox
                    v-model="checkbox"
                    :rules="[
                      v =>
                        !!v || 'Вы что терминатор? Если нет то поставь галочку'
                    ]"
                    label="Проверка на человечность :)"
                    required
                  ></v-checkbox>
                </v-flex>
              </v-form>
              <v-form v-else ref="form" v-model="form" class="d-flex pa-3">
                <v-flex class="mr-3 d-flex flex-column">
                  <v-text-field
                    v-model.lazy="name"
                    :rules="[
                      v => v.length >= 2 || 'Name too short',
                      v => v.length <= 20 || 'Name too long'
                    ]"
                    counter="20"
                    color="cyan lighten-2"
                    label="first name"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    v-model="phone"
                    color="cyan lighten-2"
                    label="phone"
                    v-mask="mask"
                  ></v-text-field>
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    color="cyan lighten-2"
                    label="Email"
                    type="email"
                  ></v-text-field>
                </v-flex>
                <v-flex class="mt-2">
                  <v-textarea
                    auto-grow
                    color="cyan lighten-2"
                    label="Message"
                    rows="4"
                  ></v-textarea>
                  <v-checkbox
                    v-model="checkbox"
                    :rules="[
                      v =>
                        !!v || 'Do you want to send spam? I do not like spam!'
                    ]"
                    label="Check the box if the message is not spam"
                    required
                  ></v-checkbox>
                </v-flex>
              </v-form>
              <v-divider></v-divider>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn
                  v-if="locale === 'ru'"
                  :disabled="!form || loading"
                  class="white--text"
                  color="cyan lighten-2 accent-4"
                  depressed
                  @click="sendcontact"
                  :loading="loading"
                  >Отправить</v-btn
                >
                <v-btn
                  v-else
                  :disabled="!form || loading"
                  class="white--text"
                  color="cyan lighten-2 accent-4"
                  depressed
                  :loading="loading"
                  @click="sendcontact"
                  >Send</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <video
      loop
      muted
      autoplay
      :poster="'../' + imageBg"
      class="fullscreen-bg__video"
    >
      <source :src="'../' + videoBg" type="video/mp4" />
    </video>
    <v-snackbar v-model="successSend">
      <div v-if="locale === 'ru'">Ваше сообщение успешно отправлено!</div>
      <div v-else>Your message has been sent successfully!</div>
      <v-btn color="hover" text @click="successSend = false">
        Закрыть
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mask } from "vue-the-mask";
export default {
  directives: {
    mask
  },
  head() {
    return {
      title: this.$i18n.locale === "ru" ? "Контакты" : "Contacts",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data: () => ({
    valid: false,
    form: false,
    videoBg: "1.mp4",
    imageBg: "bgcont.jpg",
    phone: undefined,
    mask: "+####-####-####-####",
    name: "",
    nameRules: [
      v => v.length >= 2 || "Слишком короткое имя",
      v => v.length <= 20 || "Слишком длинное имя"
    ],
    email: "",
    emailRules: [
      v => !!v || "Забыли ввести Email",
      v => /.+@.+/.test(v) || "Пожалуйста введите плавильный Email"
    ],
    checkbox: false,
    message: "",
    successSend: false,
    loading: false
  }),
  computed: {
    locale() {
      return this.$i18n.locale;
    }
  },
  methods: {
    async sendcontact() {
      this.loading = true;
      const datarequest = {
        name: this.name,
        phone: this.phone,
        email: this.email,
        message: this.message
      };
      const { data } = await this.$axios.post("/api/email", datarequest);
      if (data.status === "Ok") {
        this.successSend = true;
        this.name = "";
        this.phone = "";
        this.email = "";
        this.message = "";
        this.loading = false;
      }
    }
  }
};
</script>

<style lang="sass" scoped>
.contacts
	&-block
		position: relative
		z-index: 3
		max-width: 37.5rem
		.form
			width: 100%
	.fullscreen-bg__video
		position: absolute
		z-index: 1
		left: 0
		top: 0
		min-width: 100%
		min-height: 100%
		overflow: hidden
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100vw
		height: 100%
		background: rgba(0,0,0, .3)
		z-index: 2
@media screen and ( max-width: 960px )
	video
		display: none
	.contacts
		position: absolute
		background-color: #242b2e !important
		width: 100%
		height: 100vh
		.v-form
			flex-wrap: wrap
</style>
