<template>
  <div class="Hello">
    <v-layout row wrap class="white ma-5">
      <v-flex md4 class="pa-5 pr-0 headimg">
        <v-img
          position="right"
          sizes="cover"
          src="img/img-header.png"
          max-width="100%"
          height="100%"
        ></v-img>
      </v-flex>
      <v-flex
        v-if="locale === 'ru'"
        md8
        class="bgdrawer--text header-info pa-5"
      >
        <h1 class="justify-center">
          Добро пожаловать в Elena Galaxy Art, в место, где рождаются уникальные
          картины!
        </h1>
        <p>
          Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное
          искусство от души и для души. Авторские картины в уникальной технике.
        </p>
        <p class="justify-center">
          <strong>
            Картин, выполненных в подобной технике, нет ни в России, ни где-либо
            еще в мире.
          </strong>
        </p>
      </v-flex>
      <v-flex v-else md8 class="bgdrawer--text header-info pa-5">
        <h1 class="justify-center">
          Welcome to Elena Galaxy Art, the place where unique paintings are
          born!
        </h1>
        <p>
          Fresh, new, strong, unusual, passionate, intense, unrestrained art
          from the soul and for the soul.
        </p>
        <p>Original paintings in a unique technique for sale by the Artist.</p>
        <p class="justify-center">
          <strong>
            There are no paintings made in such a technique either in Russia or
            elsewhere in the world.
          </strong>
        </p>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="home-layut">
      <v-flex
        v-for="image in filerGallery"
        :key="image.id"
        lg4
        md6
        sm8
        xs10
        class="home-item"
        width="100vw"
        height="30vh"
      >
        <v-img :src="image.imageMainSrc" class="home-item-img"></v-img>
        <div class="home-item-info">
          <h2 v-if="locale === 'ru'">{{ image.titleRus }}</h2>
          <h2 v-else>{{ image.titleEng }}</h2>
          <p v-if="locale === 'ru'">
            {{ image.typeRus }} / {{ image.sizeRus }}
          </p>
          <p v-else>{{ image.typeEng }} / {{ image.sizeEng }}</p>
          <v-divider></v-divider>
          <v-btn
            :to="'/gallery/' + image.id"
            small
            outlined
            rounded
            color="white"
          >
            <v-icon left>mdi-chevron-right-box-outline</v-icon>
            <span>{{ $t("more") }}</span>
          </v-btn>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<i18n>
	{
		"en": {
			"more": "More"
		},
		"ru": {
			"more": "Подробнее"
		}
	}
</i18n>
<script>
export default {
  head() {
    return {
      title: this.$i18n.locale === "ru" ? "Главная" : "Home",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            this.$i18n.locale === "ru"
              ? "Свежее, новое, сильное, необычное, страстное, интенсивное, безудержное искусство от души и для души. Авторские картины в уникальной технике."
              : "Fresh, new, strong, unusual, passionate, intense, unrestrained art from the soul and for the soul. Original paintings in a unique technique for sale by the Artist."
        }
      ]
    };
  },
  data() {
    return {
      url: ""
    };
  },
  mounted() {
    this.url = location.origin;
  },
  computed: {
    filerGallery() {
      const result = this.galleryIsHome.map(s => ({ ...s }));
      result.forEach(item => {
        item.imageMainSrc = this.url + "/" + item.imageMainSrc;
      });
      return result.filter(image => image.isHome);
    },
    locale() {
      return this.$i18n.locale;
    }
  },
  async asyncData({ $axios, error }) {
    try {
      const galleryIsHome = await $axios.$get(`/api/pictures`);
      return { galleryIsHome };
    } catch (e) {
      error({ message: "User not found", statusCode: 404 });
    }
  }
};
</script>

<style lang="sass">
.header-info
	h1
		font-size: 1.25rem
		text-align: center
	p
		margin-bottom: .3125rem
		text-indent: 2rem
.home-layut
	margin: 0
	.home-item
		position: relative
		overflow: hidden
		&-info
			position: absolute
			left: 0
			bottom: 0
			opacity: 0
			width: 100%
			height: 100%
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			background: rgba(94, 196, 194, 0.7)
			transition: all ease 1s
			h2
				font-size: 1.125rem
			p
				font-size: 1rem
			.v-btn__content
				font-size: .775rem
		&:hover
			.home-item-info
				opacity: 1
		&-img
			width: 100%
			height: 270px
			background-size: contain!important
@media screen and (max-width: 960px)
	.headimg
		display: none
	.Hello
		.layout
			margin-left: 0 !important
			margin-right: 0 !important
	.home-layut
		justify-content: center
	.home-item-img
		height: 320px !important
@media screen and (max-width: 590px)
	.home-item-img
		height: 260px !important
@media screen and (max-width: 400px)
	.home-item-img
		height: 200px !important
</style>
